table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0.5rem;
}

th, td {
    padding: 0.5rem;
}

th {
	background-color: #333;
	color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
  
tbody tr:nth-child(even) {
    background-color: #eee;
}

table {
    text-align: center;
    color: #333;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.part {
    border-radius: 0.5rem;
    background-color: rgba(22, 21, 21, 0.1);
    cursor: pointer;
    transition: background-color 0.15s,
                transform 0.3s;
}


.part:hover {
    background-color: rgba(22, 21, 21, 0.1);
    transform: scale(1.2);
}

a {
    text-decoration: none;
}

p {
    margin: 0.8rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
